
<section class="dashboard_container">
  <p class="text-info">Number of <br>
		products: <br>
	<%= @product_count %></p>
	<p class="text-info">Number of <br>
		categories: <br>
	<%= @category_count %></p>
</section>
